# Temp Matlab Files
*.asv
# Pycharm env config files
*.idea
# VS code stuff
.vscode
# Python cache stuff
__pycache__
# R project file
.Rproj.user
# R plotting products
Rplots.pdf
# R history
.Rhistory